body {
    position: fixed;
    background: #000025;
}

#sidiv-Earth {
    background: linear-gradient(to top, blue, lightblue);
    padding: 10px;
    border: 1px solid #333;
}

#sidiv-FrameDebugInfo {
    position: fixed;
    background: #000025;
    color: #00FF00;
}